:root {
  --outline-color: hsl(0, 0%, 90%);
}
body {
  font-family: "Open Sans", sans-serif;
}
.Tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.Tabs:after {
  content: "";
  display: block;
  clear: both;
}
.Tab {
  padding: 0.5em 1em;
  background-color: white;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  color: hsl(208, 98%, 43%);
  border: 1px solid transparent;
  border-bottom-color: var(--outline-color);
}
.Tab--active,
.Tab:hover:not(.Tab--active) {
  border-color: var(--outline-color);
  color: inherit;
}
.Tab--active {
  border-bottom-color: transparent;
}
.Tab a,
.Tab--active a {
  text-decoration: none;
  color: inherit;
}
.TabPanel {
  padding: 0.5em 1em;
  font-family: "Open Sans", sans-serif;
}
.TabPanel:not(:target),
.TabPanel:has(~ :target),
.TabPanel:target ~ .TabPanel {
  display: none;
}
.TabPanel--default:not(:has(~ :target)),
.TabPanel:target {
  display: block;
}
