:root {
  --color-outline: hsl(0, 0%, 90%);
  --color-primary: hsl(208, 98%, 43%);
}
body {
  font-family: "Open Sans", sans-serif;
}
.Tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.Tab {
  padding: 0.5em 1em;
  background-color: white;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  color: var(--color-primary);
  border: 1px solid transparent;
  border-bottom-color: var(--color-outline);
}
.Tab--active,
.Tab:hover:not(:target) {
  border-color: var(--color-outline);
  color: inherit;
}
.Tab--active {
  border-bottom-color: transparent;
}
.Tab a {
  text-decoration: none;
  color: inherit;
}
.TabPanel {
  padding: 0.5em 1em;
  font-family: "Open Sans", sans-serif;
}
.TabPanel:not(:target),
.TabPanel:has(~ :target),
.TabPanel:target ~ .TabPanel {
  display: none;
}
.TabPanel--default:not(:has(~ :target)),
.TabPanel:target {
  display: block;
}
