@import url(./../../styles/index.css);

.button {
  padding: 1em 2em;
  border-radius: var(--shape-full);
  outline: 0;
  box-shadow: var(--elevation-0);
  position: relative;
  transition:
    .2s linear color,
    .2s linear background-color,
    .2s linear box-shadow;
}

.button-state-layer {
  background-color: currentColor;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  opacity: 0;
  border-radius: inherit;
  transition: .2s linear opacity;
}

.button-label {
  position: relative;
}

.button.filled {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  border: none;
}

.button.filled:hover:not(:disabled),
.button.filled.hovered:not(:disabled) {
  box-shadow: var(--elevation-1);
}

.button.filled:hover:not(:disabled) .button-state-layer,
.button.filled.hovered:not(:disabled) .button-state-layer {
  opacity: 0.08;
}

.button.filled:focus:not(:disabled),
.button.filled.focused:not(:disabled) {
  box-shadow: var(--elevation-0);
}

.button.filled:focus:not(:disabled) .button-state-layer,
.button.filled.focused:not(:disabled) .button-state-layer {
  opacity: 0.12;
}

.button.filled:active:not(:disabled),
.button.filled.pressed:not(:disabled) {
  box-shadow: var(--elevation-0);
}

.button.filled:active:not(:disabled) .button-state-layer,
.button.filled.pressed:not(:disabled) .button-state-layer {
  opacity: 0.12;
}

.button.filled:disabled,
.button.filled.disabled {
  background-color: transparent;
  color: var(--color-on-surface);
}

.button.filled:disabled .button-state-layer,
.button.filled.disabled .button-state-layer {
  opacity: 0.12;
}

.button.outlined {
  background-color: var(--color-surface);
  color: var(--color-primary);
  border: 1px solid var(--color-outline);
}

.button.outlined:hover:not(:disabled) .button-state-layer,
.button.outlined.hovered:not(:disabled) .button-state-layer {
  opacity: 0.08;
}

.button.outlined:focus:not(:disabled) .button-state-layer,
.button.outlined.focused:not(:disabled) .button-state-layer {
  opacity: 0.12;
}

.button.outlined:active:not(:disabled) .button-state-layer,
.button.outlined.pressed:not(:disabled) .button-state-layer {
  opacity: 0.12;
}

.button.outlined:disabled,
.button.outlined.disabled {
  color: var(--color-on-surface);
}

.button.text {
  background-color: transparent;
  color: var(--color-primary);
  border: none;
}

.button.text:hover:not(:disabled) .button-state-layer,
.button.text.hovered:not(:disabled) .button-state-layer {
  opacity: 0.08;
}

.button.text:focus:not(:disabled) .button-state-layer,
.button.text.focused:not(:disabled) .button-state-layer {
  opacity: 0.12;
}

.button.text:active:not(:disabled) .button-state-layer,
.button.text.pressed:not(:disabled) .button-state-layer {
  opacity: 0.12;
}

.button.text:disabled,
.button.text.disabled {
  color: var(--color-on-surface);
}