<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buttons</title>
  <link rel="stylesheet" href="./../../demo.css">
  <link rel="stylesheet" href="buttons.css">
</head>
<body class="background">
  <h1>Buttons</h1>
  <section>
    <h2>Filled</h2>
    <ul class="buttons-list">
      <li><button class="button filled enabled">
        <span class="button-state-layer"></span>
        <span class="button-label">Enabled</span>
      </button></li>
      <li><button class="button filled hovered">
        <span class="button-state-layer"></span>
        <span class="button-label">Hovered</span>
      </button></li>
      <li><button class="button filled focused">
        <span class="button-state-layer"></span>
        <span class="button-label">Focused</span>
      </button></li>
      <li><button class="button filled pressed">
        <span class="button-state-layer"></span>
        <span class="button-label">Pressed</span>
      </button></li>
      <li><button class="button filled disabled" disabled>
        <span class="button-state-layer"></span>
        <span class="button-label">Disabled</span>
      </button></li>
    </ul>
  </section>
  <section>
    <h2>Outlined</h2>
    <ul class="buttons-list">
      <li><button class="button outlined enabled">
        <span class="button-state-layer"></span>
        <span class="button-label">Enabled</span>
      </button></li>
      <li><button class="button outlined hovered">
        <span class="button-state-layer"></span>
        <span class="button-label">Hovered</span>
      </button></li>
      <li><button class="button outlined focused">
        <span class="button-state-layer"></span>
        <span class="button-label">Focused</span>
      </button></li>
      <li><button class="button outlined pressed">
        <span class="button-state-layer"></span>
        <span class="button-label">Pressed</span>
      </button></li>
      <li><button class="button outlined disabled" disabled>
        <span class="button-state-layer"></span>
        <span class="button-label">Disabled</span>
      </button></li>
    </ul>
  </section>
  <section>
    <h2>Text</h2>
    <ul class="buttons-list">
      <li><button class="button text enabled">
        <span class="button-state-layer"></span>
        <span class="button-label">Enabled</span>
      </button></li>
      <li><button class="button text hovered">
        <span class="button-state-layer"></span>
        <span class="button-label">Hovered</span>
      </button></li>
      <li><button class="button text focused">
        <span class="button-state-layer"></span>
        <span class="button-label">Focused</span>
      </button></li>
      <li><button class="button text pressed">
        <span class="button-state-layer"></span>
        <span class="button-label">Pressed</span>
      </button></li>
      <li><button class="button text disabled" disabled>
        <span class="button-state-layer"></span>
        <span class="button-label">Disabled</span>
      </button></li>
    </ul>
  </section>
</body>
</html>