body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #283F50;
  color: white;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-weight: 100;
}

img {
  width: 100%;
  /* max-width: 100%; */
}

nav * {
  /* outline: 1px solid; */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
}

nav li:not(:last-child) {
  margin-right: 16px;
}

nav a {
  display: block;
}

.alt-background {
  color: #333;
  background-color: white;
}

.page-section {
  padding: 16px;

  width: 80%;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
}

.text-highlight {
  color: #5C817B;
}

.text-capital {
  text-transform: uppercase;
  font-size: smaller;
}

.text-right {
  text-align: right;
}

.button {
  border: 1px solid;
  padding: 12px;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  transition:
    color .2s linear,
    background-color .2s linear;
}

.button:hover {
  text-decoration: none;
  background-color: white;
  color: #283F50;
}

main {
  text-align: center;
}
main.page-section {
  padding-top: 32px;
  padding-bottom: 32px;
}
main h2 {
  margin-top: 0;
}
header.page-section {
  padding-top: 0;
}

.logo {
  text-transform: uppercase;
  border-top: 4px solid #5C817B;
  padding-top: 8px;
  margin-top: 0;
  display: inline-block;
}

@media (min-width: 900px) {

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .nav-wrapper {
    text-align: right;
  }

  .logo {
    margin-bottom: 0;
    max-width: 250px;
  }

  .columns section {
    display: inline-block;
    max-width: 30%;
    vertical-align: top;
  }

  .columns section:not(:last-child) {
    margin-right: 5%;
  }
}

* {
  /* outline: 1px solid; */
}