html {
  --column-width-small: 50em;
  --column-width-large: 75em;

  --font-family-1: 'Space Mono', monospace;
  --font-family-2: 'Inconsolata', monospace;
  --font-family-3: 'Montserrat', sans-serif;

  --text-size-small: 0.875rem;
  --text-size-large: 1.125rem;
  --text-size-xlarge: 1.5rem;
  --text-size-xxlarge: 3rem;

  --space-base: 1em;
  --space-large: calc(var(--space-base) * 1.5);
  --space-xlarge: calc(var(--space-base) * 2.5);
}